// файл для настроек шрифтов

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");

:root {
  --font-title: "Playfair Display", serif; //ноу
  --font-basic: "Prata", serif; //для больших выбрать это
  --font-small: "Cormorant Garamond", serif; //основной это
  --font-titledddd: "EB Garamond", serif; //ноу
}
