// файл для переменных
:root {
  --white: rgb(200, 200, 200);
  --colorIsHeader: rgb(51, 79, 65);
  --textOrange: rgb(255, 162, 0);
  --isActiveYellow: rgb(255, 200, 0);
  --bigTextHome: #d1b06b;
  --milkColor: rgb(227, 229, 213);
  --graydark: #2c2c2c;
}
