.fonHome {
//   background-image: url("https://i.pinimg.com/1200x/c8/33/9f/c8339f7e660da971ab4fe0fb59f0dbf9.jpg");
  background-image: url("https://i.pinimg.com/1200x/be/5e/d4/be5ed4ed5b6451c65cec66ca3a6911d0.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
//   position: relative;
  margin-top: -120px;
  filter: blur(4px);
}
.BookinGo{
    font-family: var(--font-archivo);
    color: aliceblue;
    position: absolute;
    text-align: center;
}